/* Print styles */

@media print {
    /* Archive print css */
    #page-mod-quiz-report #page-header {
        display: none;
    }
    #page-mod-quiz-report #page-footer {
        display: none;
    }
    #page-mod-quiz-report #report-region-wrap {
        display: none;
    }
    #page-mod-quiz-report #block-region-side-pre {
        display: none;
    }
    #page-mod-quiz-report #block-region-side-post {
        display: none;
    }
    fieldset#id_preferencesuser {
        display: none;
    }
    header[role=banner] {
        display: none;
    }
    #region-main.has-blocks {
        display: block;
        width: 100%;
    }
    div[role=main] .generaltable.generalbox.quizreviewsummary:not(:first-of-type) {
        page-break-before: always;
    }
    div.history.clearfix,
    div.que .info {
        page-break-inside: avoid;
    }
}

@media print and (min-width: 1200px) {
    .row-fluid .span9,
    .row-fluid [class*="span"]:first-child {
        width: 100%;
    }
}

@media print and (min-width: 768px) {
    .row-fluid .span9,
    .row-fluid [class*="span"]:first-child {
        width: 100%;
    }
}
